<app-search-input [searchControl]="searchControl" />
@for (group of filteredSearchResults(); track $index) {
    <app-search-result-group [title]="group.Title">
        @for (result of group.Results; track $index) {
            @switch (result.Type) {
                @case ("action") {
                    <app-search-action-item [action]="result" />
                }
                @case ("contact") {
                    <app-search-contact-item [contact]="result" />
                }
            }
        }
    </app-search-result-group>
}
