<app-search-input />
@for (group of searchResults(); track $index) {
    <app-search-result-group [title]="group.title">
        @for (result of group.results; track $index) {
            @switch (result.type) {
                @case ("action") {
                    <app-search-action-item [action]="result" />
                }
                @case ("contact") {
                    <app-search-contact-item [contact]="result" />
                }
            }
        }
    </app-search-result-group>
}
