<div
    class="accordeon border-gray-200 border-b-[1px] px-4 overflow-hidden focus-within:bg-gray-100 hover:bg-gray-100"
    [attr.data-open]="isOpen() ? true : false"
    aria-label="hallo"
>
    <h3 class="accordeon-header py-2">
        <button
            class="flex justify-between gap-4 w-full items-center focus-within:outline-none"
            (click)="toggleAccordeon()"
        >
            <div class="accordeon-header-title flex items-center">
                <app-icon icon="receipt" class="w-[1.7rem]" color="#5E9CA9" />
                <span class="accordeon-header-title-span">
                    {{ workflow().title }}
                </span>
            </div>
            <app-icon
                icon="open-3"
                class="w-[1.7rem] transform transition-transform"
                color="#5E9CA9"
            />
        </button>
    </h3>
    @if (isOpen()) {
        <div
            class="accordeon-content ps-[1.7rem] pb-2 pt-1 relative"
            [attr.data-open]="isOpen() ? true : false"
        >
            <form action="">
                <ul class="accorden-options-list">
                    @for (option of workflow().options; track $index) {
                        <li class="accorden-option-list-element">
                            <label>
                                <input
                                    type="checkbox"
                                    class="mr-1"
                                    [checked]="option.checked"
                                    [formControl]="workflowCheckForm.at($index)"
                                />
                                {{ option.title }}
                            </label>
                        </li>
                    }
                </ul>
            </form>

            @if (openTabsNumber()) {
                <button
                    class="bg-cyan-600 rounded-md px-4 py-1 absolute right-0 bottom-2 text-white hover:bg-cyan-500 transition-all"
                    (click)="openTabs()"
                >
                    {{ openTabsNumber() }} Tabs öffnen
                </button>
            }
        </div>
    }
</div>
